<a href="/">
<img id="logo" src="~/images/logo.png" alt="claire's salon logo with kissy lips">
</a>

<div id="navbar">
  <a class="navButton m-2">@Html.ActionLink("Clients", "Index", "Clients")</a>
  <a class="navButton m-2">@Html.ActionLink("Stylists", "Index", "Stylists")</a>
</div>