@* <a href="/">
<img id="logo" src="~/images/logo.png" alt="board genie logo">
</a> *@
<h2>Header tbd</h2>
<div id="navbar">
  <a class="navButton">@Html.ActionLink("Clients", "Index", "Clients")</a>
  <a class="navButton">@Html.ActionLink("Stylists", "Index", "Stylists")</a>
</div>