@{
  Layout = "_Layout";
}
<div id="homePage">
  <h2>Welcome!</h2>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus dignissimos nisi voluptas deleniti modi fugiat deserunt incidunt, in labore, quos itaque quisquam voluptatibus? Repellat pariatur delectus dolore, aut molestias explicabo?</p>
</div>