@{
  Layout = "_Layout";
}
<div id="homePage">
  <h3 class="text-center">Dive into Elegance & Style</h3>
<br />
  <p>   Welcome to a sanctuary of beauty, where sophistication meets tranquility. At Eau Claire's Salon, we specialize in
    crafting unforgettable experiences tailored to elevate your unique style.</p>

  <img id="homePic" src="~/images/hairstyle.jpg" alt="Woman with 1950's hairstyle">

  <p>Book your appointment today and embark on a transformational experience that will leave you feeling empowered,
    confident, and effortlessly chic.</p>

  <p class="text-center"><em>Eau Claire's Salon - Where Beauty Flows Like Water.</em></p>
</div>